<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--Mybatis 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useColumnLabel" value="true"/>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false"/>
		<setting name="logImpl" value="LOG4J2" />
	</settings>
	
	<!-- Type Aliases 설정-->
	<typeAliases>
		<typeAlias alias="map" type="java.util.Map"/>
		<typeAlias alias="hmap" type="java.util.HashMap"/>
		<typeAlias alias="list" type="java.util.List" />
		
		<!-- TABLE 기본 Aliases -->
		<typeAlias alias="TB_AUTH_LST_VO" 			type="com.emms.vo.TB_AUTH_LST_VO" />
		<typeAlias alias="TB_AUTH_MST_VO" 			type="com.emms.vo.TB_AUTH_MST_VO" />
		<typeAlias alias="TB_CD_LST_VO" 			type="com.emms.vo.TB_CD_LST_VO" />
		<typeAlias alias="TB_MEM_MST_VO" 			type="com.emms.vo.TB_MEM_MST_VO" />
		<typeAlias alias="TB_MNU_MST_VO" 			type="com.emms.vo.TB_MNU_MST_VO" />
		<typeAlias alias="TB_PRJ_BFR_CST_LST_VO" 	type="com.emms.vo.TB_PRJ_BFR_CST_LST_VO" />
		<typeAlias alias="TB_PRJ_EST_LST_VO" 		type="com.emms.vo.TB_PRJ_EST_LST_VO" />
		<typeAlias alias="TB_PRJ_MHR_LST_VO" 		type="com.emms.vo.TB_PRJ_MHR_LST_VO" />
		<typeAlias alias="TB_PRJ_MHR_MM_LST_VO" 	type="com.emms.vo.TB_PRJ_MHR_MM_LST_VO" />
		<typeAlias alias="TB_PRJ_MST_VO" 			type="com.emms.vo.TB_PRJ_MST_VO" />
		<typeAlias alias="TB_PRJ_TRT_CST_LST_VO" 	type="com.emms.vo.TB_PRJ_TRT_CST_LST_VO" />
		<typeAlias alias="TB_REL_COP_LST_VO" 		type="com.emms.vo.TB_REL_COP_LST_VO" />
		<typeAlias alias="TB_REL_DOC_LST_VO" 		type="com.emms.vo.TB_REL_DOC_LST_VO" />
		<typeAlias alias="TB_STD_UNP_LST_VO" 		type="com.emms.vo.TB_STD_UNP_LST_VO" />
		<typeAlias alias="TB_TIM_MST_VO" 			type="com.emms.vo.TB_TIM_MST_VO" />
		<typeAlias alias="TB_USR_MST_VO" 			type="com.emms.vo.TB_USR_MST_VO" />
		
		<!-- 확장 Aliases -->
		<typeAlias alias="LoginVO" 			type="com.emms.mn.service.LoginVO" />
		<typeAlias alias="Me100_TB_MEM_MST_VO" 		type="com.emms.me.service.Me100_TB_MEM_MST_VO" />
		<typeAlias alias="Do101_TB_REL_DOC_LST_VO" 	type="com.emms.doc.service.Do101_TB_REL_DOC_LST_VO"/>
		<typeAlias alias="Do101_TB_REL_DOC_LST_VO" 	type="com.emms.doc.service.Do101_TB_REL_DOC_LST_VO"/>
		<typeAlias alias="WrkMcVo" 					type="com.emms.pm.service.WrkMcVo" />
		<typeAlias alias="WrkScVo" 					type="com.emms.pm.service.WrkScVo" />
		<typeAlias alias="MemVo" 					type="com.emms.pm.service.MemVo" />
		<typeAlias alias="MhrVo" 					type="com.emms.pm.service.MhrVo" />
	</typeAliases>
	
</configuration>