<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--Mybatis 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useColumnLabel" value="true"/>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false"/>
		<setting name="logImpl" value="LOG4J2" />
	</settings>
	
	<!-- Type Aliases 설정-->
	<typeAliases>
		<typeAlias alias="map" type="java.util.Map"/>
		<typeAlias alias="hmap" type="java.util.HashMap"/>
		<typeAlias alias="list" type="java.util.List" />
		
		<typeAlias alias="ApiMemberVO" type="com.emms.api.member.service.ApiMemberVO" />
		<typeAlias alias="TestVO" type="com.emms.api.member.service.TestVO" />
		
		<typeAlias alias="UsrMstVO" type="com.emms.vo.UsrMstVO" />
		<typeAlias alias="AuthMstVO" type="com.emms.vo.AuthMstVO" />
		<typeAlias alias="AuthLstVO" type="com.emms.vo.AuthLstVO" />
		<typeAlias alias="MnuMstVO" type="com.emms.vo.MnuMstVO" />
		<typeAlias alias="TimMstVO" type="com.emms.vo.TimMstVO" />
		<typeAlias alias="PrjMstVO" type="com.emms.vo.PrjMstVO" />
		<typeAlias alias="PrjMhrLstVO" type="com.emms.vo.PrjMhrLstVO" />
		<typeAlias alias="PrjMhrMmLstVO" type="com.emms.vo.PrjMhrMmLstVO" />
		<typeAlias alias="PrjBfrCstLstVO" type="com.emms.vo.prjBfrCstLstVO" />
		<typeAlias alias="PrjTrtCstLstVO" type="com.emms.vo.PrjTrtCstLstVO" />
		<typeAlias alias="MemMstVO" type="com.emms.vo.MemMstVO" />
		<typeAlias alias="RelCopLstVO" type="com.emms.vo.RelCopLstVO" />
		<typeAlias alias="RelDocLstVO" type="com.emms.vo.RelDocLstVO" />
		<typeAlias alias="StdUnpLstVO" type="com.emms.vo.StdUnpLstVO" />
		<typeAlias alias="CdLstVO" type="com.emms.vo.CdLstVO" />
		
	</typeAliases>
	
</configuration>